[Unit]
Description=GVFS FUSE bridge
Documentation=man:gvfsd-fuse(1)
Wants=gvfs-daemon.service
After=gvfs-daemon.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/fusermount3 -uz %t/gvfs
ExecStartPre=/usr/bin/mkdir -p %t/gvfs
ExecStart=/usr/lib/gvfsd-fuse -f %t/gvfs
ExecStop=-/usr/bin/fusermount3 -uz %t/gvfs
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
